.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.code-font {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.main .main-content {
  padding: 100px 0 100px;
  text-align: center;
}
.main .main-content .inputs {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 600px;
}
.main .main-content .inputs .input {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  padding: 10px;
  float: left;
}
.main .main-content .inputs .url-in {
  width: 436px;
  padding-right: 44px;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.main .main-content .inputs .file {
  position: absolute;
  left: 446px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  overflow: hidden;
}
.main .main-content .inputs .file .icon {
  width: 16px;
  height: 16px;
  fill: #666;
}
.main .main-content .inputs .file .file-in {
  position: absolute;
  left: 0;
  top: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.main .main-content .inputs .file-name {
  display: none;
  position: absolute;
  left: 0;
  width: 426px;
  background-color: #f0f0f0;
  text-align: left;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.main .main-content .inputs .submit {
  width: 90px;
}
